@charset "utf-8";


.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

    body {
    padding-top: 30px;
    color: #666666;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 1;
   }
    .footer {
        width: 100%;
        /* border-top: solid 1px #e8e8e8; */
    }

    /* .container {width: 100%;
    } */

    .footer article ul {
        position: relative;
        min-height: 0;
        margin-bottom: 0;
        display: block;}

    .section_footer {
        width: 1240px;
        margin: 0 auto 160px;
    }

    .footer .section_footer .list1 li {
        border-right: 1px #e8e8e8 solid;
        float:left;
        padding: 0 20px;
        margin: 5px 0 15px;
    }

    .change1 {
        clear:both;
    }

    .list1 .up {
        position: relative;
        top: -30px;
    }

    .list2 {
        float: left;
    }

    .list2 li {
        font-style: normal;
        font-size: 14px;
        border-right: 1px #e8e8e8 solid;
        float:left;
        padding: 0 20px;
    }

    aside {
        float: right;
        text-align: right;
    }

    .list1 img {
    width: 67.75px;
    height: 54.57px;
    /* top: -5px;
    left: 65px;  */
    position: relative;
    top: -17px;
    }

    .copy {
        display: block;
        clear: both;
        padding: 15px;
        font-size: 14px;
        width: 600px;
        text-indent: 7px;
    }
    .footer .section_footer .list1 li:nth-child(7n) { border: 1px transparent solid; }
    .footer .section_footer .list1 li:nth-child(8n) { border: 1px transparent solid; }

    li .select {
        width: 160px;
        height: 45px;
        line-height: 45px;
        position: relative;
        top: -10px;
        left: -20px;
    }

    span {
        font-weight: bold;
    }
    .right > p {
        line-height: 1.2;
        position: relative;
        top: -80px;
        font-size: 14px;
    }