@charset "utf-8";
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

    body{
        margin: 0;
        text-align: center;
        font-family: 'Roboto','NotoSans','맑은 고딕',sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #000;
    }
.container{
    max-width: 1920px;
    height: 1605px;

}
.container header{
    height: 100px;
    background-color: aqua;
}

.container main article{margin: 0 auto;}
.container main article h1{ 
    font-size: 50px; 
    font-weight: 700;
    height: 197px;
    line-height: 197px;
    
}
.container main article img{
    /* margin-bottom: 120px; */
    display: block;
}
.container main article ul{
    width: 1240px;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #e8e8e8;

}
.container main article ul .first_list a span{
    border-bottom: #009f95 2px solid;
}
.container main article ul .first_list a{
    color: #009f95; 

}
.container main article ul li{
    font-size: 28px;
    font-weight: 600;
    width: 248px; height: 104px;
    margin-top: 50px;
    /* border: 1px solid #000; */
    
}
.container main article ul li a{
    text-decoration: none;
    color: #888;
}
.container main article ul .b_left_line::before{
    content: '';
    height: 20px;
    float: left;
    margin-top: 15px;
    border-left: 1px solid #e8e8e8;
}
.container main article .pyo{
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    justify-content: center;
    
}
.container main article .pyo img{
    margin: 108px 0 144px; 
   
}
