@charset "utf-8";
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'NotoSans', 'Roboto','맑은 고딕',sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
.container{
    width: 1920px;
    background-color: #ddd;
    box-sizing: border-box;
}
.container header{
    /* width: 100vw; */
    height: 100px;
    background-color: aqua;
}
main{
    width: 100vw;
}
main .banner{
    /* width: 100vw; */ 
     
}
.container main .banner .banner_img{
    width: 1728px;
    height: 584px;
    margin: 0 96px;
 
    position: relative;

   
}
.banner main .banner #banner_arrow_left{  
    float: left;
    position: absolute;
    top: 247px; left: 144px;
}
.banner main .banner #banner_arrow_right{
    float: left;
    position: absolute;
    top: 247px; right: 144px;
}

